Smart_Contact_Manager/WebClient/Connected Services/GroupServiceReference/GroupService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GroupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Backend_Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGroupService_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="IGroupService_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="Group">
    <wsdl:part name="parameters" element="tns:Group" />
  </wsdl:message>
  <wsdl:message name="Group_Headers">
    <wsdl:part name="GroupId" element="tns:GroupId" />
    <wsdl:part name="UserId" element="tns:UserId" />
  </wsdl:message>
  <wsdl:message name="GroupContact">
    <wsdl:part name="parameters" element="tns:GroupContact" />
  </wsdl:message>
  <wsdl:message name="GroupContact_Headers">
    <wsdl:part name="ContactId" element="tns:ContactId" />
    <wsdl:part name="GroupId" element="tns:GroupId" />
    <wsdl:part name="Id" element="tns:Id" />
  </wsdl:message>
  <wsdl:message name="IGroupService_GetGroupContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupContacts" />
  </wsdl:message>
  <wsdl:message name="IGroupService_GetGroupContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupContactsResponse" />
  </wsdl:message>
  <wsdl:portType name="IGroupService">
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/GetGroups" message="tns:IGroupService_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/GetGroupsResponse" message="tns:IGroupService_GetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/AddGroup" name="Group" message="tns:Group" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/AddGroupResponse" name="Group" message="tns:Group" />
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/GetGroup" name="Group" message="tns:Group" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/GetGroupResponse" name="Group" message="tns:Group" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/UpdateGroup" name="Group" message="tns:Group" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/UpdateGroupResponse" name="Group" message="tns:Group" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/DeleteGroup" name="Group" message="tns:Group" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/DeleteGroupResponse" name="Group" message="tns:Group" />
    </wsdl:operation>
    <wsdl:operation name="AddGroupContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/AddGroupContract" name="GroupContact" message="tns:GroupContact" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/AddGroupContractResponse" name="GroupContact" message="tns:GroupContact" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/GetGroupContacts" message="tns:IGroupService_GetGroupContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/GetGroupContactsResponse" message="tns:IGroupService_GetGroupContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/DeleteGroupContact" name="GroupContact" message="tns:GroupContact" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/DeleteGroupContactResponse" name="GroupContact" message="tns:GroupContact" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGroupService" type="tns:IGroupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://tempuri.org/IGroupService/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap:operation soapAction="http://tempuri.org/IGroupService/AddGroup" style="document" />
      <wsdl:input name="Group">
        <soap:header message="tns:Group_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:Group_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Group">
        <soap:header message="tns:Group_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:Group_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroup">
      <soap:operation soapAction="http://tempuri.org/IGroupService/GetGroup" style="document" />
      <wsdl:input name="Group">
        <soap:header message="tns:Group_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:Group_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Group">
        <soap:header message="tns:Group_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:Group_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroup">
      <soap:operation soapAction="http://tempuri.org/IGroupService/UpdateGroup" style="document" />
      <wsdl:input name="Group">
        <soap:header message="tns:Group_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:Group_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Group">
        <soap:header message="tns:Group_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:Group_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri.org/IGroupService/DeleteGroup" style="document" />
      <wsdl:input name="Group">
        <soap:header message="tns:Group_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:Group_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Group">
        <soap:header message="tns:Group_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:Group_Headers" part="UserId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroupContract">
      <soap:operation soapAction="http://tempuri.org/IGroupService/AddGroupContract" style="document" />
      <wsdl:input name="GroupContact">
        <soap:header message="tns:GroupContact_Headers" part="ContactId" use="literal" />
        <soap:header message="tns:GroupContact_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:GroupContact_Headers" part="Id" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GroupContact">
        <soap:header message="tns:GroupContact_Headers" part="ContactId" use="literal" />
        <soap:header message="tns:GroupContact_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:GroupContact_Headers" part="Id" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupContacts">
      <soap:operation soapAction="http://tempuri.org/IGroupService/GetGroupContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupContact">
      <soap:operation soapAction="http://tempuri.org/IGroupService/DeleteGroupContact" style="document" />
      <wsdl:input name="GroupContact">
        <soap:header message="tns:GroupContact_Headers" part="ContactId" use="literal" />
        <soap:header message="tns:GroupContact_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:GroupContact_Headers" part="Id" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GroupContact">
        <soap:header message="tns:GroupContact_Headers" part="ContactId" use="literal" />
        <soap:header message="tns:GroupContact_Headers" part="GroupId" use="literal" />
        <soap:header message="tns:GroupContact_Headers" part="Id" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GroupService">
    <wsdl:port name="BasicHttpBinding_IGroupService" binding="tns:BasicHttpBinding_IGroupService">
      <soap:address location="http://localhost:8082/GroupService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>