WCFProject_CE121_CE124/WebClient/Connected Services/GroupServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Backend_Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Backend_Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="ArrayOfGroupContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupContact" nillable="true" type="tns:GroupContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupContact" nillable="true" type="tns:ArrayOfGroupContact" />
  <xs:complexType name="GroupContact">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupContact" nillable="true" type="tns:GroupContact" />
</xs:schema>